@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins";
  scroll-behavior: smooth;
  font-size: 17px;
}
.landing {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 16%;
}
.landing h1 {
  padding: 3px;
  margin: 6px;
}
.landing p {
  padding: 5px;
}
#logo {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 4px;
  width: 70px;
  height: auto;
}
#mouse-click {
  margin-top: 10%;
  padding: 30px 0px;
}
.about {
  padding-bottom: 30px;
  padding-top: 40px;
}
.services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10% 0%;
}
.what-we-do {
  padding-top: 40px;
}
.what-we-do .headings {
  padding-bottom: 38px;
}
.what-we-do .title {
  font-size: 18px;
  font-weight: 600;
}
#product,
#development,
#design {
  display: none;
  font-size: 16px;
}

.portfolio .work img {
  width: 100%;
}
.portfolio .work {
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.contact h2 {
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.contact input,
.contact textarea {
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}
.contact .form-control::placeholder {
  color: white;
}
.contact .form-control:focus::placeholder {
  color: #6a7379;
}
